<a href="https://colab.research.google.com/github/reehunter/test/blob/master/9_July%2C_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Structures

- Lists 
- Tuples 
- Dictionaries



* Basic program sets on Data structures
* Advanced problem set
* Contact application (dictionary object)


### Data Structures
- To store, search and sort the data

###Python Data Structures

- Lists

   Its one of the common data structures supported by Python, the list items are separated by comma operator and enclosed in square brackets.
   
 * Example :-  
 
 list1 = [1,2,6,8]
 list2 = [ "Gitam", 10, 12, 15.5, "Hyderabad"]

In [0]:
list = [32, 45, 67, 90]
print(list)  # Access the entire list
print(list[0])  # Access the first 
print(list[-1])  # Access the last item
print(list[1:])  # Leaving the first one
print(list[1:4])  # Leaving the 1 till 4

[32, 45, 67, 90]
32
90
[45, 67, 90]
[45, 67, 90]

In [0]:
# Update list items using index (Direct Referencing)

li = ["Gitam", "Python", 1989, 2002]
print(li)
li[2] = 2019
print(li)

['Gitam', 'Python', 1989, 2002]
['Gitam', 'Python', 2019, 2002]

In [0]:
# delete specific item in list

print(li)
del li[2]
print(li)

['Gitam', 'Python', 2019, 2002]
['Gitam', 'Python', 2002]

In [0]:
# Basic List Operations

lt = [1, 9, 6, 8, 12]
print(lt)
print(len(lt))  # Length f list
print(lt * 2)  # Repetetion
print(9 in lt)  # Check if no. is present in list
print(15 in lt)

for x in range(len(lt)) :
  print(lt[x], end = " ")

[1, 9, 6, 8, 12]
5
[1, 9, 6, 8, 12, 1, 9, 6, 8, 12]
True
False
1 9 6 8 12

In [0]:
# Functions of Lists

lt
print(lt)
print(min(lt))
print(max(lt))
print(sum(lt))  # Sum, of all elements in list
print(sum(lt)//len(lt))  # Average of elements
print(sum(lt[1::2])/len(lt[1::2]))  #Average of alternate elements
print(" ")
print(sum(lt[1::2]))
print(len(lt[1::2]))  # leaves the first one and starts to alternate

[1, 9, 6, 8, 12]
1
12
36
7
8.5

17
2

In [0]:
# METHODS of list objects
lt
lt.append(24)  # Adds element at the end of list
lt
lt.insert(2,56)  # Adds element at the specified position - here, the 2nd postition, the third element in list
# print(lt)
lt.count(10)# Returns the value how many times the object is repeated 
lt.index(56)  # Shows the postion of specified element

lt.sort()  # sorts in ascending order
lt
lt.pop()  # removes last element in list
lt.pop(1)  # removes element from particular index

lt2 = [123, 23, 45]
lt2
lt.extend(lt2)  # Merge the list 2 with list 1
lt
lt.reverse()
lt
lt.remove(123)  # removes it from the list
lt

[45, 23, 56, 45, 45, 24, 24, 24, 23, 23, 9, 8, 1]

In [0]:
lt = [1,9,8,2,6,3]
print(lt[-1::])
print(lt[::-2])  # reverse alternating
print(lt[2::-2])  # starts in reverse direction from 2nd index
print(lt[-1:2:-2])  # -1 - last index, -2 - last, reverse direction, 2 - stop till index number  --- ?

[3]
[3, 2, 9]
[8, 1]
[3, 2]

In [0]:
# Function to find the second largest in the list

def secondlarge(li) :
  li.sort()
  print(li)
  return li[-2]  # second element from the last
li = [1, 19, 6, 2, 8, 18, 3]
print(li)
secondlarge(li)

[1, 19, 6, 2, 8, 18, 3]
[1, 2, 3, 6, 8, 18, 19]

6

In [0]:
# Generic large number in list
def genericlarge(li,n) :
  li.sort()
  print(li)
  return li[-n]  # second element from the last
li = [1, 19, 6, 2, 8, 18, 3]
print(li)
secondlarge(li,5)

[1, 19, 6, 2, 8, 18, 3]
[1, 2, 3, 6, 8, 18, 19]

3

In [0]:
def secondleast(li) :
  li.sort()
  print(li)
  return li[1]
def genericleast(li,n) :
  li.sort()
  print(li)
  return li[n-1]

li = [1, 19, 6, 2, 8, 18, 3]
print(li)
print(secondleast(li))
genericleast(li,4)

[1, 19, 6, 2, 8, 18, 3]
[1, 2, 3, 6, 8, 18, 19]
2
[1, 2, 3, 6, 8, 18, 19]

6

###Searching Algorithms

- Linear Search

   Can be applied on duplicate and unique lists
   Unique list : elements in list appear only once
   
   Duplicate list : elements appear more than once in list
   
   Linear search algorithm can be applied on Sorted or Unsorted list   


- Binary Search

In [0]:
# Funcion to search the data in a list
# search is found, return index, if not return -1

def linearsearch(li, item) :
  for x in range(len(li)) :
    if li[x] == item :
      return x
  return -1
li = [1, 19, 6, 2, 8, 18, 3]
linearsearch(li,225)

-1

In [0]:
# Function to count the repeating no. in list 
# if input = li
# key = 5, O/P = 1 4 8

def lsearch(li, item) :
  for x in range(len(li)) :
    if li[x] == item :
      print(x, end = " ")
  return

li = [1, 5, 9, 6, 5, 15, 1, 2, 5]
lsearch(li,5)

1 4 8

In [0]:
# function 
# I/P = list
# O/P = Set of characterss

def lsearch(li, item) :
  for x in range(len(li)) :
    if li[x] == item :
      for i in range(0,x+1) :
        print("!", end = "")
      print(end = " ")
  return

li = [1, 5, 9, 6, 5, 15, 1, 2, 5]
lsearch(li,5)

!! !!!!! !!!!!!!!!

In [0]:
# function to print sum of the multiples of both 3 and 5
# input - list
# output - formatted

def func(li) :
  sum = 0
  for x in range(len(li)) :
    if li[x]%3==0 and li[x]%5==0 :
      sum = sum + li[x]
  return sum
  
li = [12, 2, 45, 9, 18, 15, 36]
print("Sum = ", func(li))

Sum =  60

In [0]:
# [1,2,3,4,5] -- [1,3,8,15,5]
# [6,5,2,8,2] -- [6,12,40,4,2]

def con(li) :
  L=[0]
  for x in range(len(li)) :
    if x == 0 or x == len(li)-1 :
      L = L.append(li[x])
      
    else :
      L.append(li[x-1]-li[x+1])
      
    print(li)
  return L

li = [1,2,3,4,5]
print("New List = ", con(li))
print("Modified list = ", con([6,5,2,8,2]))

In [0]:
# [1,2,3,4,5] -- [1,3,8,15,5]
# [6,5,2,8,2] -- [6,12,40,4,2]

def con(li) :
  for x in range(len(li)) :
    if (x == 0 or x == len(li)-1) :
      print((li[x]), end = " ")
    else :
      print((li[x-1]*li[x+1]), end = " ")
  return

li = [1,2,3,4,5]
con(li) 
print(" ")
con([6,5,2,8,2])

1 3 8 15 5
6 12 40 4 2

In [0]:
# 


def con(li) :
  for x in range(len(li)) :
    if (x == 0 or x == len(li)-1) :
      print(li[x], end = " ")
    elif (li[x-1]%2==0 and li[x+1]%2==0) :
      print(li[x], end = " ")
  return

li = [1, 6, 9, 4, 16, 19, 22]
con(li)

1 9 19 22

In [0]:
# take in no. and make it into a list

def func(n) :
  li = []
  while(n!=0) :
    r = n % 10
    print(r)
    li.append(r)
    n = n // 10
  li.reverse()
  return li

n = 14569
func(n)

9
6
5
4
1

[1, 4, 5, 6, 9]

In [0]:
# Count og character occurrences

def count1(li, c) :
  cnt = 0
  for x in li :
    if x == c :
      cnt =cnt + 1
  print(cnt)
  return cnt

def count(li, c) :
  return li.count(c)

count("Python Programming",'P')
count1("Python Programming",'P')

2

2

### String to List conversion
 
 - Input is string
 - Expected output is a List

In [0]:
# String to List

def strTOlst(s) :
  li = s.split()
  nolst = []
  for i in li :
    nolst.append(int(i))
  return nolst

s = "1 2 3 4 5 6"
strTOlst(s)

[1, 2, 3, 4, 5, 6]

## Sorting Algorithms

Arrange in ascending order
- Bubble Sort
- Selection Sort
- Insertion Sort

### Bubble Sort

Compares the adjacent elements one by one for each element

In [0]:
# Bubble Sort

def bubblesort(li) :
  for i in range(len(li)-1) :
    for j in range(len(li)-1) :
      if li[j] > li[j+1] :
        li[j], li[j+1] = li[j+1], li[j]
  return li

li = [19, 1, 25, 6, 18, 3]
bubblesort(li)

[1, 3, 6, 18, 19, 25]

### ASSIGNMENT

In [0]:
# [1,4,5,6,9] = 14569

def no(li) :
  n = 0
  for x in range(len(li)) :
    n = n * 10 + li[x] 
  return n

li = [1,4,5,6,9]
no(li)

14569

In [0]:
# Consider only even numbers in list

def no(li) :
  for x in range(len(li)) :
    if li[x]%2 == 0 :
      print(li[x], end = " ")
  return

li = [1,4,5,6,9]
no(li)

4 6

In [0]:
# Consider even no.s and square it and print with the rest

def no(li) :
  for x in range(len(li)) :
    if li[x]%2 == 0 :
      li[x] = li[x] * li[x]
  return li

li = [1, 2, 3, 4, 5]
no(li)

[1, 4, 3, 16, 5]

In [0]:
# Add previous no. to current no.

def add(li) :
  for x in range(len(li)) :
    if (x == 0 or x == len(li)-1) :
      print(li[x], end = " ")
    else :
      print(li[x] + li[x-1], end = " ")
  return
  
li =  [15,19,12,16,4]
add(li)

15 34 31 28 4