<a href="https://colab.research.google.com/github/reehunter/test/blob/master/Copy_of_anaconda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

code

In [0]:
i=100
print(type(i))
s1 = str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [0]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [0]:
# a number is given 1234 - 
# digit count
a1 = 1234
print(len(str(a1)))

4

In [0]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameRohit
Rohit
<class 'str'>

In [0]:
n1 = int(input("Enter your number - "))
print(n1,type(n1))

Enter your number - 9902800428
9902800428 <class 'int'>

Operators
Operator is a symbol used to perform a specific kind of operations
Arithmetic Operators
+
/
-
*
%
**
//

In [0]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)  # float
print(n1%10)  # remainder
print(n1//10)  # int
print(n1**10)  # exponent

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### Precedence of operators

- Parenthesis
- Power
- Multiplication
- Addition

##Left to right

In [0]:
x = 1 + 2 ** 3 / 4 + 5 
# 1 + 8 / 4 + 5
# 1 + 2.0 + 5
# Power, division, Addition
print(x)

8.0

In [0]:
x = 1 + 2 ** 3 / 4 * 5
# Power, division, Multiplication, Addition
print(x)

11.0

Relational Operators
( true or false )

==
!=
Greater ( > )
Less tha ( < )
Less than or equal to ( <= )
Greater than or equal to ( >=

In [0]:
x = 10
a1 = x > 15
print(a1)

False

Conditional Operators
Used to combine more than single condition

and
or
not

In [0]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) and (i>800)
print(a1)
print(a2)

True
False

##Control flow statements

- Conditional statements 
- Looping statements 

#### if-else statement
**Syntax**

if boolean_condition: 

statements 

else :

statements

In [0]:
# To check given number is even or odd
n = int(input("Enter a number - "))
if n % 2 == 0:
    print("Even")
else :
    print("Odd")  # Indentation compulsory

Enter a number - 4
Even

In [0]:
# to check given number is a perfect multiple of 3 and 5
n = int(input("Enter a number - "))
if n%3==0 and n%5==0 :
      print("Yes")
else :
      print("No")

Enter a number - 15
Yes

In [0]:
# is given number positive, negative or zero
n = int(input("Enter a number - "))
if n==0 :
   print("Zero")
elif n>0 :  # else if 
  print("Positive number")
elif n<0 :
  print("Negative number")

Enter a number - 5
Positive number

In [0]:
# 1 is given year is leap year or not
n = int(input("enter the year - "))
if n%4==0 :
 print("leap year")
else :
 print("not an leap year")

enter the year - 2000
leap year

In [0]:
# 2 to get week days
n = int(input("enter the week nom- "))
if n==1 :
  print("monday")
elif n==2 :
  print("tuesday")
elif n==3 : 
  print("wednesday")
elif n==4 :
  print("thrusday")
elif n==5 :
  print("friday")
elif n==6 : 
  print("saturday")
elif n==7:
  print("sunday")

enter the week nom- 5
friday

In [0]:
# 3 to get largest amount 3 nos
 a = int(input("enter the value of a-"))
 b = int(input("enter the value of b-"))
 c = int(input("enter the value of c-"))
 if a>b and a>c :
    print(a)
 elif b>c and b>a :
    print(b)
 elif c>a and c>a :
  print(c)

enter the value of a-5
enter the value of b-7
enter the value of c-3
7

In [0]:
#4Sum of n numbers
n = int(input("enter a number:"))
sum=0
for i in range(n+1):
  sum=sum+i
print(sum)

enter a number:5
15

In [0]:
#5sum of n odd numbers
n = int(input("enter a number:"))
sum=0
for i in range(1,n+1,2):
  sum=sum+i
print("sum is",sum)

enter a number:7
sum is 16

In [0]:
#7 roots of quadratic equation
import math
a = int(input("Enter coeff of x^2:"))
b = int(input("Enter coeff of x:"))
c = int(input("Enter constant:"))
p=(-b+math.sqrt(b*b-4*a*c))/2*a
q=(-b-math.sqrt(b*b-4*a*c))/2*a
if b*b-4*a*c >=0:
  print("the roots are",p,q)
else:
  print("roots are imaginary")

Enter coeff of x^2:3
Enter coeff of x:6
Enter constant:8

ValueError: ignored

In [0]:
# Divisors of a number - Factors
n = int(input("Enter a number - "))
x = 1
while(x<=n):
  if n%x==0 :
    print(x)
  x= x + 1

Enter a number - 6
1
2
3
6

In [0]:
#9 Triangle is valid or not
a = int(input("enter side1:"))
b = int(input("enter side2:"))
c = int(input("enter side3:"))
if a+b>c or a+c>b or b+c>a:
  print("Triangle is valid")
else:
  print("Triangle is not valid")

enter side1:5
enter side2:4
enter side3:

ValueError: ignored

In [0]:
# Celsius to Fahrenheit
c = int(input("Enter temp. in C - "))
f = (c * 1.8) + 32
print("temp. in F = ",f)

In [0]:
# sum and average of given series 
n = int(input("Enter number of terms - "))
i = 1
sum = 0
while(i<=n) :
  x = int(input("no. = "))
  sum = sum + x
  i = i + 1
avg = sum / n
print("Sum = ",sum, " Average = ",avg)